html {
  font-family: Arial, Helvetica, Sans, Sans-Serif, Sans Serif;
  font-size: 14px;
  line-height: 1.25;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  color: #293339;
  width: 100%;
  height: 100%;
}

.flex-center {
  background-color: #37454d;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 13px 13px 11px;
  vertical-align: middle;
  border-radius: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #007fad;
  border: 1px solid #007fad;
  border-bottom: 1px solid #005f81;
  font-size: 16px;
  min-height: 44px;
  height: auto;
}

.btn:active,
.btn:focus,
.btn:hover,
.btn:link,
.btn:visited {
  color: #fff;
}

.btn.active,
.btn:active,
.btn:focus,
.btn:hover {
  cursor: pointer;
  text-decoration: none;
}

.btn:focus {
  outline-width: 5px;
}

.btn:active,
.btn:hover {
  background-color: #005f81;
  border: 1px solid #005f81;
}

.btn:focus {
  background-color: #005f81;
  border: 1px solid #005f81;
}

.btn:focus:hover {
  background-color: #005f81;
  border: 1px solid #005f81;
}

.btn.btn--disabled {
  border-color: #005f81;
  background-color: #005f81;
}

.btn.btn--disabled:focus {
  background-color: #005f81;
  border: 1px solid #005f81;
}

.btn.btn--disabled:focus:hover {
  background-color: #005f81;
  border: 1px solid #005f81;
}

.offline-page .siteheader {
  width: 100%;
  height: 64px;
  box-shadow: 0 1px 4px rgba(41, 51, 57, 0.5);
  background-color: #fff;
}

.offline-page .siteheader__logo {
  display: block;
  width: 100%;
}

.offline-page .siteheader__logo-link {
  /* padding: 18px 16px 14px; */
  margin: 0 auto;
  /* width: 134px; */
  height: 100%;
}

.offline-page__content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 16px 64px;
}

.offline-page__title {
  font-size: 16px;
  margin-top: 32px;
  text-align: center;
}

.offline-page__retry {
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
}

.offline-page__retry--online {
  background-color: #3f9fc1;
  border: 1px solid #3f9fc1;
}

.offline-page__description {
  color: #37454d;
  text-align: center;
  line-height: 1.25;
  margin: 8px 0 0;
  font-size: 12px;
}

.offline-page__maze {
  position: relative;
  margin-top: 16px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.offline-page__trophy path {
  fill: #f6ab3f;
}

.offline-page__guide {
  display: none;
}

@media only screen and (min-width: 480px) {
  .offline-page__title {
    margin-top: 64px;
    font-size: 24px;
  }

  .offline-page__retry {
    margin-bottom: 80px;
  }

  .offline-page__description {
    font-size: 14px;
  }

  .offline-page__maze {
    width: 548px;
  }
}
