<style>@charset "UTF-8";
:root {
    --header-height: 70px;
    --animation-speed-in: 0.4s;
    --animation-speed-out: 0.4s;
    --animation-easing: cubic-bezier(0.23, 1, 0.32, 1);
}

.sr-disable-transitions,
.sr-disable-transitions::before,
.sr-disable-transitions::after,
.sr-disable-transitions * {
    transition: none !important;
}

@font-face {
    font-family: "Guardian Egyptian Headline";
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot");
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.svg#Guardian-Egyp-Web-Light") format("svg");
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian Egyptian Headline";
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot");
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.svg#Guardian-Egyp-Web-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian Egyptian Headline";
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot");
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.svg#Guardian-Egyp-Web-Regular-It") format("svg");
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian Egyptian Headline";
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot");
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.svg#Guardian-Egyp-Web-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian Egyptian Headline";
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot");
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.svg#Guardian-Egyp-Web-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "Guardian Egyptian Headline";
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot");
    src: url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot?#iefix") format("embedded-opentype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.woff") format("woff"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.ttf") format("truetype"), url("//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.svg#Guardian-Egyp-Web-Bold-It") format("svg");
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: geometricPrecision;
    /* slow but nice...might decide to remove again */
    margin: 0;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.sr-wrapper {
    margin: 0 auto;
    max-width: 600px;
}

.sr-category {
    margin: 1em;
    padding-top: var(--header-height);
}

.sr-category h1 {
    margin-top: 0;
    height: 22px;
    font-family: "Guardian Egyptian Headline";
    color: #197caa;
    font-weight: 500;
    font-size: 22px;
    text-align: left;
}

.sr-category h1 span {
    font-weight: 600;
}

main {
    line-height: 1.4;
}

.note-desktop {
    display: none;
}


/* Desktop/Tablet */

@media (min-width: 768px) {
    .sr-category,
    main {
        transform: translateX(0);
        margin-left: 200px;
    }
    .sr-category {
        padding-left: 1em;
    }
    .sr-category h1 {
        font-size: 2em;
    }
    .sr-wrapper {
        max-width: none;
    }
    main {
        padding: 0 1em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1em;
    }
    .note-desktop {
        display: block;
        margin-left: calc(216px);
        margin-right: 16px;
        margin-bottom: 16px;
        border: 2px solid #fffd4f;
        background: #fffe99;
        padding: 1em;
        font-size: 18pt;
        line-height: 1.4;
    }
}

.sr-navigation {
    contain: strict;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.sr-navigation-skirt {
    will-change: opacity;
    transform: translate3d(0, 0, 0);
}

.sr-category {
    contain: style;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.sr-hamburger {
    contain: content;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.sr-promote-layer,
.sr-promote-layer img,
.sr-promote-layer .sr-inner {
    will-change: transform;
    transform: translate3d(0, 0, 0);
}

.sr-card,
.sr-card img {
    contain: content;
}

.sr-article {
    will-change: transform;
    transform: translate3d(0, 0, 0);
}


/* Article */

.sr-article,
.sr-article-skeleton-ui {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    z-index: 5;
}

.sr-article {
    position: fixed;
    transform: translateY(50vh);
    transition: transform var(--animation-speed-out) var(--animation-easing), opacity var(--animation-speed-out) var(--animation-easing);
    opacity: 0;
    /*    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); */
}

.sr-article.at-top {
    transform: translateY(0);
    transition: transform var(--animation-speed-in) var(--animation-easing), opacity var(--animation-speed-in) var(--animation-easing);
    opacity: 1;
}

.sr-article-skeleton-ui {
    background: #fff;
    bottom: 0;
    display: none;
}

.sr-article-skeleton-ui::before {
    display: block;
    content: '';
    background: #eee;
    padding-top: 60%;
}

.sr-skeleton-ui-article .sr-article-skeleton-ui {
    display: block;
}

.sr-article-shown main {
    max-height: 100vh;
    overflow: hidden;
}

.sr-article-shown .sr-article {
    position: absolute;
    transform: translateY(0);
    opacity: 1;
}

.sr-card {
    text-rendering: geometricPrecision;
    /* slow but nice...might decide to remove again */
    line-height: 1.4;
    /* Layout */
    display: flex;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform-origin: top left;
    user-select: none;
    /* Styling */
    cursor: pointer;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.18);
    color: #fff;
    margin: 1em;
    transition: transform var(--animation-speed-out) var(--animation-easing);
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border-top: 1px solid #4BC6DF;
    font-family: "Guardian Egyptian Headline";
    font-weight: 500;
    --hover-scale: 1;
    /* Card children */
    /* Yes, tons of !important. I hate important. But the Shadow DOM polyfill for
   * Safari requires them :/
   */
}

.sr-card.sr-full {
    z-index: 5;
    border-top: 1px solid #00558c;
}

.sr-card.sr-full::before {
    opacity: 1;
}

.sr-card::before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    /* fixes weird clipping bug in Chrome.. */
    background: linear-gradient(to top, #091621, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0));
    z-index: 2;
    opacity: 0;
    transition: transform var(--animation-speed-out) var(--animation-easing);
}

.sr-card.sr-loading::after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    /* fixes weird clipping bug in Chrome.. */
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(/img/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.sr-card.sr-error::after {
    display: block;
    position: absolute;
    content: 'Error: No AMP version to display (this is a demo – in production, you\'d know in advance)';
    padding: 2em;
    top: 0;
    left: 0;
    bottom: 0;
    right: -1px;
    /* fixes weird clipping bug in Chrome.. */
    z-index: 5;
    background-color: rgba(132, 21, 21, 0.87);
}

.sr-card:first-child {
    min-height: 50vh;
}

.sr-card:first-child::before {
    opacity: 1;
}

.sr-card:first-child .sr-inner p {
    display: block !important;
    margin-bottom: 0 !important;
}

.sr-card>* {
    position: relative;
    z-index: 1;
    transition: transform var(--animation-speed-out) var(--animation-easing);
}

.sr-card .sr-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1em;
    position: relative;
    z-index: 3;
    transform-origin: bottom left;
    transition: transform var(--animation-speed-out) var(--animation-easing), opacity var(--animation-speed-out) var(--animation-easing);
    color: inherit !important;
    text-decoration: inherit !important;
    outline: 0;
}

.sr-card .sr-inner:focus h2 {
    background: #00558b !important;
}

.sr-card .sr-inner h2 {
    margin: 3em 0 0 0 !important;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.57) !important;
    padding: 0.5em 0.3em !important;
    font-size: 1.4em;
}

.sr-card .sr-inner p {
    margin: 1em 0 !important;
    height: 4em !important;
    font-weight: normal !important;
    margin-bottom: -5em !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    flex-shrink: 0 !important;
}

.sr-card img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

.sr-skeleton-ui .sr-card::before {
    background: linear-gradient(to top, #c5c5c5, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0));
}

.sr-skeleton-ui .sr-card .sr-inner h2 {
    background: rgba(0, 0, 0, 0.08) !important;
    color: transparent;
}

.sr-skeleton-ui .sr-card .sr-inner p {
    color: transparent;
}

.amp-shadow .sr-card {
    /* need to force font-size, since inner styles might not play nice..*/
    font-size: 16px;
    background-color: #eee;
}

.amp-shadow .sr-card:hover {
    transform: none;
    cursor: inherit;
}

.amp-shadow .sr-card:first-child {
    min-height: initial;
}

.amp-shadow .sr-card .sr-inner {
    padding-right: 3em;
    /* needed to make it look the same between cloned and non-cloned */
}

.amp-shadow .sr-card img {
    width: 100%;
    height: auto;
}

.sr-card.sr-full {
    transition-duration: var(--animation-speed-in);
}

.sr-card.sr-full::before,
.sr-card.sr-full>*,
.sr-card.sr-full .sr-inner {
    transition-duration: var(--animation-speed-in);
}


/* Desktop/Tablet */

@media (min-width: 768px) {
    .sr-card {
        margin: 0;
    }
    .sr-card:hover {
        transform: translateY(-5px);
        --hover-scale: 1.1;
    }
    .sr-card:hover .inner {
        opacity: 0;
    }
    .sr-card.sr-full:hover {
        cursor: auto;
        transform: inherit;
    }
    .sr-card:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        min-height: auto;
    }
}

header {
    /* Layout */
    position: fixed;
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* Styling */
    background: linear-gradient(to bottom, #005689, #00558c);
    /* Children */
}

header img {
    margin-top: 6px;
    margin-right: 6px;
}

.sr-hamburger {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    bottom: -8px;
    left: 1em;
    top: auto;
    height: 54px;
    width: 54px;
    display: inline-block;
    border: 0;
    outline: none;
    border-radius: 50%;
    background-color: #4bc6df;
    box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.08);
    font: inherit;
    color: inherit;
}

.sr-hamburger:focus {
    box-shadow: 0 0 0 0.2625rem rgba(0, 0, 0, 0.38);
}

.sr-hamburger-box {
    width: 26px;
    height: 14px;
    display: inline-block;
    position: relative;
}

.sr-hamburger-inner {
    display: block;
    top: 50%;
}

.sr-hamburger-inner,
.sr-hamburger-inner::before,
.sr-hamburger-inner::after {
    width: 26px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform var(--animation-speed-in) var(--animation-easing);
}

.sr-hamburger-inner::before,
.sr-hamburger-inner::after {
    content: "";
    display: block;
}

.sr-hamburger-inner::before {
    top: -6px;
}

.sr-hamburger-inner::after {
    bottom: -6px;
}

.sr-skeleton-ui-article .sr-hamburger .sr-hamburger-inner::before,
.sr-article-shown .sr-hamburger .sr-hamburger-inner::before,
.sr-nav-shown .sr-hamburger .sr-hamburger-inner::before {
    transform: translate3d(-7px, 0, 0) rotate(-45deg) scale(0.7, 1);
}

.sr-skeleton-ui-article .sr-hamburger .sr-hamburger-inner::after,
.sr-article-shown .sr-hamburger .sr-hamburger-inner::after,
.sr-nav-shown .sr-hamburger .sr-hamburger-inner::after {
    transform: translate3d(-7px, 0, 0) rotate(45deg) scale(0.7, 1);
}


/* non-mobile styling */

@media (min-width: 768px) {
    .sr-hamburger {
        display: none;
    }
    .sr-article-shown .sr-hamburger {
        display: block;
    }
    header {
        padding-left: 200px;
    }
}


/* Navigation Menu */

.sr-navigation {
    width: 80vw;
    height: 100vh;
    max-width: 200px;
    position: fixed;
    top: var(--header-height);
    left: 0;
    transform: translateX(-100%);
    list-style: none;
    background: #00456E;
    margin: 0;
    padding: 0;
    z-index: 5;
    box-sizing: border-box;
    padding-left: 18px;
    padding-top: 20px;
    font-family: "Guardian Egyptian Headline";
    font-weight: 500;
}

.sr-navigation li {
    border-top: 1px solid #005689;
}

.sr-navigation li a {
    display: block;
    height: 34px;
    padding-top: 2px;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.sr-navigation li a:focus {
    outline: 0;
    color: #4BC6DF;
}

.sr-navigation li a:hover {
    color: #4BC6DF;
}

.sr-navigation li.active a {
    border-top: 1px solid #4BC6DF;
    color: #4BC6DF;
}

.sr-navigation-skirt {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    pointer-events: none;
}

.sr-nav-shown .sr-navigation-skirt {
    opacity: 1;
    pointer-events: all;
}

.sr-navigation,
.sr-navigation-skirt {
    transition: transform var(--animation-speed-out) var(--animation-easing), opacity var(--animation-speed-out) var(--animation-easing);
}

.sr-nav-shown .sr-navigation,
.sr-nav-shown .sr-navigation-skirt {
    transform: translateX(0);
    transition: transform var(--animation-speed-in) var(--animation-easing), opacity var(--animation-speed-out) var(--animation-easing);
}


/* Desktop/Tablet */

@media (min-width: 768px) {
    .sr-navigation {
        transform: translateX(0);
        z-index: auto;
    }
}

</style>